.library__results{
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 20px;
}
.library__results-headline{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.library__results-subheader{
    text-align: center;
    font-weight: bold;
    color: var(--subtext-color);
    font-size: 14px;
}
.library__results-description{
    display: flex;
    flex-direction: column;
}
.library__results-description-box{
    margin: 0;
}
.library__results-description-term{
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 0;
}
.library__results-description-context{
    color: var(--text-color);
    font-weight: lighter;
    font-size: 14px;
}
.library__results-description-value{
    color: var(--text-color);
    font-size: 1.2em;
    padding-top: 10px;
    text-align: center;
    line-height: 22px;
}
.library__results-condition-row{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    border-bottom: 1px solid var(--gray-300);
    line-height: 24px;
}
.library__results-condition-name{
    white-space: nowrap;
}
.library__results-condition-prr{
    color: var(--primary-color);
}

/* Tablet and Mobile */
@media(max-width: 768px){
    .library__results{
        width: 95%;
    }
}